
.bg_nav{
  background-color:  #102742;
}

.saca_bs-gutter-x{
  --bs-gutter-x- : 0;
}

.fondo{
  background-color: gray;
  
  
  
}

.contenedor{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img{
  height: 10rem;
  width: auto;
}
.img2{
  height: auto;
  width: auto;
}


.navactive{
  background-color: gray;
  
}

.li{
  list-style-type: none;
}

.boton_card{
  background-color: white;
  
}
.boton_card:hover{
  background-color: #102742;
  color: white;
}